main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
}

.moves-container {
  width: 100%;
  max-height: 565px;
  height: 100%;
}

.moves {
  overflow: auto;
}

.panel-side {
  width: 600px;
  max-height: 906px;
  height: 100vh;
  background-color: #262522;
  border-radius: 7px;
  overflow: hidden;
}

#wrapper {
  display: flex;
  gap: 32px;
}

.board {
  width: calc(100px * 8);
  height: calc(100px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 80%;
  height: 80%;
}

.player {
  display: inline-flex;
  gap: 7px;
}

.player .container {
  margin-top: 3px;
}

.player .container p {
  color: #ffff;
  font-size: 14px;
}

.top-side {
  margin-bottom: 10px;
}

.bottom-side {
  margin-top: 10px;
}

.player img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.animated {
  transition: all 0.2s ease;
}

@keyframes selectedPulse {
  0% {
    box-shadow: 0 0 0 0 #7cccfaff;
  }
  70% {
    box-shadow: 0 0 12px 6px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.selected {
  border: 3px solid #68b6e4d2;
  box-shadow: 0 0 6px 3px #87c9f0;
  animation: selectedPulse 1s infinite ease-in-out;
  z-index: 999;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #4eb8f5aa;
  }
  70% {
    box-shadow: 0 0 10px 6px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4eb8f5d2;
  box-shadow: 0 0 8px 4px #4eb8f5;
  animation: pulse 1s infinite;
}

.target {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

.target::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 225, 255, 0.7) 20%,
    transparent 70%
  );
  border-radius: 50%;
  animation: targetPulseCopy 1s infinite ease-out;
  z-index: -1;
  transform: scale(1);
  opacity: 0.8;
}

@keyframes targetPulseCopy {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.black {
  background-color: #748eac !important;
}

.white {
  background-color: #d9e4e8 !important;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.lost span {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.lost span img {
  height: 20px;
  width: auto;
  margin-top: 2px;
}

.clock {
  display: flex;
  gap: 33px;
  padding: 0 10px 0 10px;
  height: 40px;
  align-items: center;
  background-color: #ffffff75;
  border-radius: 7px;
  font-size: 18px;
}

.active {
  background-color: #ffffff;
}

.clock img {
  width: 20px;
  height: 20px;
}

@keyframes softBlink {
  0%,
  100% {
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.3);
  }
  50% {
    box-shadow: inset 0 0 25px rgba(255, 0, 0, 0.6);
  }
}

.check-bg {
  animation: softBlink 1s infinite;
}

.panel-side nav ul {
  display: flex;
  gap: 20px;
  padding: 0 10px;
}

.panel-side nav ul li button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
}

.panel-side nav {
  background-color: #21201d;
  height: 40px;
  display: flex;
  align-items: center;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: auto;
  max-height: 300px;
  height: 100%;
}

.chat p {
  color: #ffff;
  font-size: 14px;
}

.custom-input {
  background-color: #21201d;
  display: flex;
  padding: 0 10px 0 0;
  align-items: center;
}

.custom-input input {
  background-color: transparent;
  border: none;
  color: #ffff;
  padding: 10px;
  width: 100%;
}

.custom-input input::placeholder {
  color: #c9c9c9;
  font-size: 15px;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 0 16px;
}

.custom-input button {
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

.title {
  padding: 20px 16px 16px;
  color: #ffff;
  border-bottom: #696969 1px solid;
}
